html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*-------prevent scrolling-------*/
html, body {overflow: hidden;}

body {
  padding:0;
  margin:0;
  background-color:#F2F2F2;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
}

#about h1 {
  margin-top:5px;
  margin-bottom:5px;
  color: #F8F3EE;
  font-size:4.2em;
  font-weight:600;
  line-height:20px;
}

#about h3 {
  color: #F8F3EE;
  margin:5px 0 5px 0;
  font-size:1.4em;
  line-height:30px;
  font-weight:600;
}

#about p {
  margin:5px 0 5px 0;
  font-size:1.1em;
  font-weight:500;
}

#about .contact-icons {
  display:none;
}

#home {
  height:100vh;
}

#work {
  height:100vh;
}

#project-nav {
  height:100vh;
  width:50%;
  position: absolute;
}

#sidebar {
  width:75px;
  height:100vh;
  right:0;
  position: absolute;
  background-color: #fff;
}

#project-desc {
  padding:160px 60px 60px 60px;
}

#project-desc p {
  font-size:1.4em;
  font-weight: 500;
  padding-right:5.3em;
  color:#111;
}

#project-desc h2 {
  margin:5px 0 5px 0;
  font-size:4em;
  color:#F8F3EE;
}

#project-desc a {
  border: 1px solid #F8F3EE;
  color:#F8F3EE;
  font-size:1.2em;
  border-radius: 5px;
  padding:0.4em 1.4em 0.4em 1.4em;
  text-decoration: none;
}

#project-desc a:hover {
  background-color:#F8F3EE;
  color:#21CE99;
  cursor:pointer;
  text-decoration: none;
}

#project-bg {
  height:100vh;
  width:50%;
  left:50%;
  position: absolute;
  transition-duration: 0.3s;
}

.green {
  background-color:#21CE99;
}

.orange {
  background-color: #DA4E28;
}

.dBlue {
  background-color: #093E4F;
}

.yellow {
  background-color: #E0DF6B;
}

#contact {
  height:100vh;
  min-width:100%;
  background-color:#4990E2;
}

#about {
  padding:40px 40px 40px 40px ;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:#E52F34;
  height: 100vh;
  width:50%;
  top:0;
  right:0;
  position: absolute;
  margin:0;
}

#about p a {
  color:#F8F3EE;
  text-decoration: none;
}

#about p a:hover {
  color:#111;
  cursor: pointer;
}

.hero {
  top: 0;
  left: 0;
  position: absolute;
  margin:0 auto;
  width:50%;
  height:100vh;
  background-image: url("../assets/IMG_0257.jpg");
  background-size:cover;
  background-position:50% 41%;
}

.hero img {
  min-height:auto;
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  position: fixed;
  z-index:999;
  font-size:1.1em;
  font-weight:500;
  color:#111;
  padding-left: 30px;
  padding-right:30px;


  
}

.navbar a {
  text-decoration: none;
  color:#111;
  transition-duration: 0.2s;
}
.navbar-right a:hover {
  color: #F8F3EE;
  transition-duration: 0.2s;
}

.navbar-left a:hover {
  color:#555;
}

.hidden {
  display:none;
}

.navbar-bottom {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  font-size:1.1em;
  font-weight:500;
}

.navbar-bottom a {
  text-decoration: none;
  color: #111;
  transition-duration: 0.2s;
}
.navbar-bottom a:hover {
  color: #F8F3EE;
  transition-duration: 0.2s;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.top {
  top: 0;
  padding-top:20px;
}

.project-menu-list {
  top:25%;
  width:100%;
  position: absolute;
}

.project-menu-item:hover {
  cursor: pointer;
}

.project-menu-item {
  height:75px;
  display:flex;
  align-items: center;
  margin-top:15px;
  margin-bottom:15px;
  transition-duration: 0.3s;
}

.project-menu-item-dot {
  width:15px;
  height:15px;
  border-radius:50%;
  border:1px solid #111;
  left:calc(100% - 45px);
  position: absolute;
}

.project-menu-item-title {
  margin-left:40%;
  font-size:1.4em;
  font-weight:500;
}

.-active-dot {
  background-color:#111;
  transition-duration: 0.3s;
}

.-active {
  background: rgba(0,0,0,.04);
}

#contact {
  display:flex;
  justify-content: center;
  align-items: center;
}

.contact-body {
  display: flex;
  justify-content: space-between;
  width:66%;
  font-size:2em;
  font-weight: 600;
}

.contact-quote {
  color:#111;
}

.contact-quote span {
  color:#F8F3EE;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-line {
  display: flex;
  align-items: center;
}

.contact-email a {
  color: #F8F3EE;
  text-decoration: none;
  transition-duration: 0.3s;
}

.contact-email a:hover {
  color: #111;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  color: #F8F3EE;
}

.contact-icons a {
  color:#F8F3EE;
  transition-duration: 0.3s;
}

.contact-icons a:hover {
  color:#111;
  transition-duration: 0.3s;
  cursor: pointer;
}

@media only screen and (max-width : 1025px) {
/* Styles */

  .navbar-bottom {
    display:none;
  }

  #home {
    height:auto;
  }

  .hero {
    width:100%;
    background-position:50% -40px;
  }

  #about {
    top:54%;
    width:100%;
  }
  #about .contact-icons {
    display: flex;
    padding-right: 50%;
  }

  html, body {
    overflow: visible;
  }

  #contact {
    display:none;
  }
  #work {
    display: none;
  }


}
